.officeContact {
    background: none;
    margin-bottom: -71rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: -51rem;
    }
}

.officeContact__content {
    margin-top: 13.2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.officeContact__content__text {
    padding-top: 0.0rem;
    margin-top: 0.4rem;
    margin-left: 12.9rem;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 32rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
    }
    h1 {
        //border: red 1px solid;
        width: 80rem;
        margin-top: 0.0rem;
        margin-bottom: 0.45rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-family: Avenir;
        font-size: $xlarge-font*3.1;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: $main-blue;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            font-size: $xlarge-font*1.8;
            margin-top: 1.5rem;
            line-height: 4.4rem;
            width: 30rem;
        }
    }
    h2 {
        margin-top: -2.1rem;
        padding-top: 0.0rem;
        margin-bottom: 5.3rem;
        width: 80rem;
        font-family: Avenir;
        font-size: $xlarge-font*3.1;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: justify;
        color: $off-black;
        line-height: 1.5;
        font-weight: 100 !important;
        //border: green 1px solid;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
            line-height: 1.4;
            font-size: $xlarge-font*1.8;
        }
    }
}

.officeContact__content__text__offices {
    // border: 1px red solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 46.5rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.officeContact__content__text__offices__office {
    h3 {
        @extend .tlp;
        margin-bottom: 0.8rem;
        margin-left: 0rem;
        margin-top: 0rem;
        padding-top: 0.0rem;
        width: 20rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
            margin-left: $small-padding-left-mobile;
        }
    }
    p {
        @extend .p;
        margin-bottom: 4.6rem;
        margin-left: 0rem;
        margin-top: 0rem;
        padding-top: 0.0rem;
        width: 20rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
            margin-left: $small-padding-left-mobile;
            margin-bottom: 3.6rem;
        }
    }
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 80%;
    }
}

.officeContact__content__text__offices__office__link {
    margin-left: -0.0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 10rem;
}
