.missions {
    background: none;
    margin-bottom: 20.5rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 0.4rem;
    }
}

.missions__content {
    margin-top: 5.5rem;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: flex-start;
        align-items: flex-start;
            margin-top: 1.5rem;
    }
}

.missions__content__text {
    margin-top: 9.3rem;
    margin-left: 8.4rem;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 160rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
        margin-bottom: 0;
    }
    h1 {
        @extend .t1;
        width: 60rem;
        margin-top: -1.8rem;
        margin-bottom: 0;
        padding-top: 0rem;
        padding-bottom: 0rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            margin-top: 1.5rem;
            width: 100%;
        }
    }
    h2 {
        @extend .t2;
        padding-top: 0.0rem;
        width: 60rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
            margin-bottom: -2rem;
        }
    }
}


.missions__content__mission {
    margin-top: 3.4rem;
    margin-left: 8.2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 110rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0;
    }
}


.missions__content__mission__one-mission {
    margin-right: 9rem;
    h2 {
        @extend .tlp;
        margin-top: -1.3rem;
        padding-top: 0.0rem;
        width: 30rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
        }
    }
    p {
        @extend .lp;
        margin-bottom: 6.9rem;
        padding-top: 0.4rem;
        width: 39rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
            margin-bottom: 8.0rem;
        }
    }
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-right: 0rem;
        margin-bottom: -2rem;
    }

}

.missions__content__link {
    float: right;
    margin-top: 3rem;
    margin-right: 7rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        float: right;
        margin-top: 1rem;
        margin-right: 0rem;
        margin-left: 16rem;
    }
}
