.officeDetail {
    background: none;
    margin-bottom: 6rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 4rem;
    }
}

.officeDetail__content {
    margin-top: 6.5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        img {
            width: 45%;
            margin-top: 8rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.officeDetail__content__image {
    display: flex;
    flex-direction: column;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: flex;
        flex-direction: column;
        padding-top: 0;
        align-items: flex-start;
        margin-left: 0;
        img {
            width: 100%;
        }
    }
}

.officeDetail__content__image__rectangle {
    //border: 2px solid red;
    background-color: $very-light-blue;
    height: 9rem;
    padding-left: 41.5rem;
    padding-top: 3.2rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: none;
    }
}

.officeDetail__content__text {
    //border: 2px green solid;
    padding-top: 12.2rem;
    margin-top: -13.4rem;
    margin-left: -2.4rem;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 80rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
        height: auto;
    }
    h1 {
        margin-left: 14.5rem;
        width: 35rem;
        margin-top: 0rem;
        margin-bottom: 0;
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-family: Lato;
        font-size: $xlarge-font*3.8;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: $main-blue;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            font-size: $xlarge-font*2;
            margin-top: 20.5rem;
            width: 30rem;
            margin-left: $small-padding-left-mobile;
        }
    }
    a {
        margin-left: 32rem;
        margin-top: -5.0rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            display: none;
        }
    }
    h2 {
        @extend .lp;
        margin-bottom: 3.5rem;
        margin-left: 15.1rem;
        margin-top: 4rem;
        padding-top: 0.0rem;
        width: 42rem;
        line-height: 1.5;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 85%;
            margin-left: $small-padding-left-mobile;
        }
    }
    h3 {
        width: 100%;
        margin-top: 0.0rem;
        margin-left: 15.1rem;
        margin-bottom: 1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-family: Lato;
        font-size: $xlarge-font*0.9;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: $off-black;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            font-size: $xlarge-font.5;
            margin-top: 1.5rem;
            line-height: 4.4rem;
            width: 30rem;
            margin-left: $small-padding-left-mobile;
            font-weight: 550;
        }
    }

}

.officeDetail__content__text--warsaw {
    @extend .officeDetail__content__text;
    display: none;
}

.officeDetail__content__text__positions {
    //border: 1px red solid;
    display: flex;
    width: 50rem;
    height: 40rem;
    flex-wrap: wrap;
    margin-left: 15.1rem;
    flex-direction: column;
    justify-content: flex-start;

    h4 {
        text-align: left;
        a {
            margin-left: 0 !important;
            text-align: left;
            //border: 1px red solid;
            font-family: Lato;
            text-align: left;
            font-size: 2.08rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $off-black;
            @media (max-width: $desktop-breakpoint) { //here in mobile
                font-size: 1.6rem;
                display: inline;
                margin-left: 1rem;
            }
        }
    }
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-left: 5%;
        width: 85%;
        height: auto;
    }
}

.officeDetail__content__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0rem;
    a {
        span {
            font-size: $xlarge-font*1.0;
        }
    }
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: none;
    }
}

.office-link {
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    padding-top: 0;
}
