.tile-one-news__content__card {
    margin-bottom: 10rem;
    text-decoration: none;
    padding: $l-size*1.05 $m-size*1.85;
    width: 45rem;
    border-radius: 2.5px;
    background-color: #ffffff;
    box-shadow: 0 1px 8.5px 0 rgba(0, 0, 0, 0.15);
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 2rem;
        width: 92%;
    }
}

.tile-one-news__content__card--xlmargin {
    @extend .tile-one-news__content__card;
    //margin-top: 16rem;
}

.tile-one-news__content__card--lmargin {
    @extend .tile-one-news__content__card;
    //margin-top: 12rem;
}

.tile-one-news__content__card--mmargin {
    @extend .tile-one-news__content__card;
    margin-top: 10rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-top: 3rem;
    }
}

.tile-one-news__content__card--smargin {
    @extend .tile-one-news__content__card;
    //margin-top: 4rem;
}

.tile-one-news__content__card__image {
    width: auto;
    height: 35rem;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    padding-bottom: 0rem;

    img {
        //object-fit: cover;
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
        padding-bottom: 0;
        transition: .4s ease;
        backface-visibility: hidden;
        &:hover {
            opacity: 0.6
        }
        @media (max-width: $desktop-breakpoint) { //here in mobile
            height: 90%;
            margin-bottom: 0;
        }
    }
}

.tile-one-news__content__card__text {
    p {
        @extend .stp;
        margin-bottom: 1rem;
        margin-top: 2rem;
        padding-top: 0;
        padding-bottom: 0;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            margin-bottom: -0.6rem;
            margin-top: -1.2rem !important;
        }
    }
    h3 {
        @extend .tp;
        margin-top: 1rem;
        padding-top: 0.2rem;
        margin-bottom: -0.5rem;
    }
    h4 {
        @extend .p;
        margin-bottom: 4rem;
        margin-top: 0;
        padding-top: 0.8rem;
        padding-bottom: 0;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            margin-bottom: 3rem;
        }
    }
}
