.customerGrid {
    background: none;
    margin-bottom: 8rem;
    @media (max-width: $desktop-breakpoint) {
        margin-bottom: 14rem;
    }
}

.customerGrid__content {
    width: 80%;
    margin-left: 10%;
    height: 55rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: $m-size;
    padding-top: $m-size;
    img {
        max-width: 14rem;
        margin-left: 4rem;
        margin-right: 8rem;
        @media (max-width: $desktop-breakpoint) {
            max-width: 40%;
            margin-bottom: 1.8rem;
            margin-left: 30%;
            margin-right: 30%;
        }
    }
    @media (max-width: $desktop-breakpoint) {
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        padding-right: 0;
        height: 80rem;
    }

}


.hide {
        @media (max-width: $desktop-breakpoint) {
            display: none;
        }
}
