.method__content__card {
    padding: $l-size*1.05 $m-size*1.75;
    margin-right: 4rem;
    width: 31.5rem;
    height: 62rem;
    border-radius: 2.5px;
    background-color: #ffffff;
    box-shadow: 0 1px 8.5px 0 rgba(0, 0, 0, 0.15);
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 5rem;
        margin-right: 0rem;
    }
    h3 {
        @extend .tp;
        margin-top: 2.1rem;
        padding-top: 0.2rem;
        margin-bottom: -0.2rem;
    }
    p {
        @extend .p;
        padding-bottom: 0;
        margin-bottom: 0;
    }

}

.method__content__card__image {
    display: flex;
    width: auto;
    height: 35rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        height: 100%;
    }
}
