.patchWork {
    background: none;
    margin-bottom: 8rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 4rem;
    }
}

.patchWork__content {
    margin-top: 9.5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.patchWork__content__text {
    margin-left: 0rem;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 100%;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
    }
    h1 {
        @extend .t1;
        width: 45rem;
        margin-top: 0rem;
        margin-bottom: 0;
        padding-top: 0rem;
        padding-bottom: 0rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            margin-top: 1.5rem;
            width: 30rem;
            margin-left: 0;
        }
    }
    h2 {
        @extend .t2;
        margin-bottom: 6rem;
        padding-top: 0.0rem;
        width: 45rem;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 80%;
            margin-left: 0;
            line-height: 1.2;
            margin-top: 0.2rem;
        }
    }
}

.patchWork__content__images {
    img {
        display: relative;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
        }
    }
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
    }
}

.patchWork__content__images__image1 {

}


.patchWork__content__images__image2 {
    margin-left: 10rem;
    margin-bottom: 18.6rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: none;
    }
}


.patchWork__content__images__image3 {
    margin-left: 2.4rem;
    margin-top: 2.8rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: none;
    }
}
