.details {
    background: none;
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 10rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 4rem;
    }
}

.details__content {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 0rem;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: $small-padding-left-mobile;
    }
}

.details__content--mod {
    @extend .details__content;
    margin-bottom: 4rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 2rem;
    }
}


.details__content__detail {
    padding-left: 0;
    width: 30%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.details__content__detail__img {
    padding: 0;
    margin-left: 0rem;
    img {
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 90%;
            margin-left: 0.2rem;
        }
    }
}

.details__content__detail__img__spec {
    padding-top: 0.5rem;
}

.details__content__detail__text {
    margin-top: -0.5rem;
    h1 {
        @extend .tlp;
        margin: 0;
        padding: 0;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            margin-top: 0.15rem;
        }
    }
    p {
        @extend .p;
        margin-top: 0rem;
        padding-top: 0.75rem;
        width: 95%;
        @media (max-width: $desktop-breakpoint) { //here in mobile
            width: 100%;
        }
    }
    @media (max-width: $desktop-breakpoint) { //here in mobile
        width: 80%;
    }

}

.details__content__main {
    img {
        width: 101rem;
        heigth: auto;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
    margin-top: 6.4rem;
    padding: 0;
    margin-left: 0rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: none;
    }
}

.details__content__title {
    @extend .t1;
    margin-bottom: 6rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: $small-padding-left-mobile;
    }
}

.details__content__link {
    float: right;
    margin-right: 1rem;
    margin-bottom: 12rem;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-right: 6.5rem;
    }
}
// .details__content__iphone{
//
//
//     img {
//         width: 65%;
//     }
//     margin-top: 5rem;
//     padding: 0;
//     margin-left: 0rem;
//     @media (min-width: $desktop-breakpoint) { //here in desktop
//         display: none;
//     }
// }
