.testimonial__content__card {
    padding: $l-size*1.05 $m-size*1.85;
    width: 29.5rem;
    border-radius: 2.5px;
    background-color: #ffffff;
    box-shadow: 0 1px 8.5px 0 rgba(0, 0, 0, 0.15);
    @media (max-width: $desktop-breakpoint) { //here in mobile
        margin-bottom: 5rem;
    }
    h3 {
        @extend .tp--mod;
        margin-top: 0.4rem;
        padding-top: 0.2rem;
        margin-bottom: -0.2rem;
    }
    h4 {
        @extend .stp;
        margin-top: 0;
        padding-top: 0;
    }

}

.testimonial__content__card__image {
    width: 8rem;
    height: 8rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 0rem;
    img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
        margin-bottom: -0.5rem;
        padding-bottom: 0;
    }
}


.testimonial__content__card__quote {
    background: none;
    border-left: none;
    margin: 1rem 0rem;
    margin-bottom: -1rem;
    padding: 0.65rem 0rem;
    quotes: "\201C""\201D""\2018""\2019";
    height: 120px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: justify;
    color: $grey;
    &:before {
        content: open-quote;
        font-family: Lato;
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: justify;
        color: $main-blue;
    }
    &:after {
      color: #111;
      content: close-quote;
      font-size: 1.6rem;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: justify;
      line-height: 1.5;
      color: $grey;
    }
}
