.header {
    background: none;
    margin-bottom: 0.3rem;
    z-index: 1;
    position: relative;
}

.header__content {
    width: 100%;
    margin-top: 1.5rem;
    height: 7rem;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $s-size 0;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        display: flex;
        flex-direction: column;
        padding: $m-size;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.header__title-content {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: $m-size*1.2 0;
    @media (max-width: $desktop-breakpoint) { //here in mobile
        //padding: $s-size*1.15 0;
    }
}

.header__title-content__title {
  font-family: Archivo;
  font-size: $large-font*0.98;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.05rem;
  color: $main-blue;
  text-decoration: none;
  width: 100%;
  h1 {
      font-weight: bold;
      margin: 0;
  }
  @media (max-width: $desktop-breakpoint) { //here in mobile
      //padding: $s-size*1.15 0;
  }
}

.header__subtitle-content {
    padding-bottom: 2rem;
    width: 54.3rem;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    padding-bottom: $m-size*1.3;
    padding-top: $m-size;


    @media (max-width: $desktop-breakpoint) {

        width: 100%;
        padding-left: 0;
        justify-content: space-between;
    }
}



.header__subtitle {
    font-family: Lato;
    font-size: $medium-font*1.3;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: $main-blue;
    text-decoration: none;
    h2 {
      font-weight: 400;
      margin: 0;
    }
    &:hover {
      color: darken($main-blue, 7%);
    }
    @media (max-width: $desktop-breakpoint) {
        width: 12%;
        text-align: left;
        font-family: Lato;
        font-size: $medium-font*0.9;
  }
}

.header__subtitle--underline {
    @extend .header__subtitle;
    h2 {
        //text-decoration: underline;
        font-weight: 600;
    }
}
