// Mobile parameters
$mobile-factor: 0.85;

// Font font-family

$main-font: 'Avenir';

// Colors

// $off-black: #ff222b;
// $dark-grey: #333333;
// $grey: #ff7c93;
// $main-blue: #ff74ff;
// $main-blue-off: #ff73ff;
// $light-blue: #ff73ff;
// $main-green: #ffcd90;
// $blue:  #ff88bf;
// $dark-blue: #ff4051;
// $off-white: #fff7f7;


$off-black: #20222b;
$dark-grey: #333333;
$grey: #6b7c93;
$main-blue: #4b74ff;
$main-blue-off: #4a73ff;
$light-blue: #4a73ff;
$main-green: #39cd90;
$blue:  #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

$light-yellow: #fef597;
$light-green: #bdd4cc;
$very-light-green: #DFEAE7;
$very-light-blue: #84A0FF;

// Font size

$xlarge-font: 1.6rem; //16px
$large-font: 1.2rem; //12px
$medium-font: 0.8rem; //8px
$small-font: 0.6rem; //6px


$title-font: $xlarge-font*2;
$small-title-font: $xlarge-font*2*1.6;
$paragraph-font: $medium-font*2;
$small-paragraph-font: $small-font*2.2;
$link-font: $medium-font*1.2;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$big-padding-left: 8.1rem;
$small-padding-left-mobile: 1.6rem;
